@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-weight: 'medium';
    font-size: 43px;
    margin-bottom: 0;
    line-height: normal;
}

h2 {
    font-weight: 'medium';
    font-size: 36px;
    margin-bottom: 0;
    line-height: normal;
}

h3 {
    font-weight: 'medium';
    font-size: 26px;
    margin-bottom: 0;
    line-height: normal;
}

h4 {
    font-weight: 'medium';
    font-size: 18px;
    margin-bottom: 0;
    line-height: normal;
}

p {
    font-weight: 'regular';
    font-size: 16px;
    margin-bottom: 0;
    line-height: 24px;
}

@media (min-width: 768px) {
    h1 {
        font-weight: 'medium';
        font-size: 60px;
        margin-bottom: 0;
        line-height: normal;
    }

    h2 {
        font-weight: 'medium';
        font-size: 40px;
        margin-bottom: 0;
        line-height: normal;
    }

    h3 {
        font-weight: 'medium';
        font-size: 30px;
        margin-bottom: 0;
        line-height: normal;
    }

    h4 {
        font-weight: 'medium';
        font-size: 20px;
        margin-bottom: 0;
        line-height: normal;
    }

    p {
        font-weight: 'regular';
        font-size: 18px;
        margin-bottom: 0;
        line-height: normal;
    }
}